<!--
  Generated template for the MachineSetoptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{model?.officeName}} - {{model?.machineName}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="ionViewDidEnter();" >
        <ion-icon name="ios-refresh-circle-outline"></ion-icon>刷新
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content style="background: #f7f7f7;">
  <ion-list class="width60" >

    <ng-container *ngIf="model.mtype=='POS'">
    <ion-list-header style="font-weight:bold;color:#488aff;font-size: 1.7rem;">
      该窗口“允许取预定餐”和“允许现场点餐”<span style="color:red;font-size:12px;">(注意:每个餐别都需要设置)</span>
    </ion-list-header>
    <ion-item>
    <ion-segment [(ngModel)]="mealType">
      <ng-container *ngFor="let objMeal of model.lstMeal">

      <ion-segment-button [value]="objMeal.mealType">
        {{objMeal.mealName}}
      </ion-segment-button>
      </ng-container>
    </ion-segment>
  </ion-item>
    <ng-container [ngSwitch]="mealType">
      <ng-container *ngFor="let objMeal of model.lstMeal">
          <ng-container *ngSwitchCase="objMeal.mealType">

          <ion-item *ngIf="formval[objMeal.mealType]!=undefined">
              <ion-toggle [(ngModel)]="formval[objMeal.mealType]['allow_takepre']" color="secondary"></ion-toggle>
              <ion-label>({{objMeal.mealName}}) 允许取预订餐</ion-label>
            </ion-item>
            <ion-item *ngIf="formval[objMeal.mealType]!=undefined">
              <ion-toggle [(ngModel)]="formval[objMeal.mealType]['allow_localorder']" color="secondary"></ion-toggle>
              <ion-label>({{objMeal.mealName}}) 允许现场点餐(单点)</ion-label>
            </ion-item>
            <ion-item *ngIf="formval[objMeal.mealType]!=undefined">
              <ion-toggle [(ngModel)]="formval[objMeal.mealType]['allow_localordermulti']" color="secondary"></ion-toggle>
              <ion-label>({{objMeal.mealName}}) 允许现场点餐(多点)</ion-label>
            </ion-item>
      </ng-container>
    </ng-container>
      
    </ng-container>

    
        

    <ion-list-header style="font-weight:bold;color:#488aff;font-size: 1.7rem;">
      其它设置
    </ion-list-header>
    <ion-item>
      <ion-toggle [(ngModel)]="model.option.allow_takehold" color="secondary"></ion-toggle>
      <ion-label>允许取"留"餐</ion-label>
    </ion-item>

  </ng-container>
  <ion-item>
    <ion-label fixed >支付完成等待时间(秒):</ion-label>
    <ion-input [(ngModel)]="model.option.paydone_waitsec" type="number" placeholder='在此输入TV排序值'></ion-input>
    <p></p>
  </ion-item>

  <ng-container *ngIf="model.mtype=='RICEMECHINE'">

    <ion-item>
        <ion-toggle [(ngModel)]="model.option.rice_isfree" color="secondary"></ion-toggle>
        <ion-label>米饭免费(关闭该项则为收费)</ion-label>
      </ion-item>


    <ion-item>
        <ion-input [disabled]="model.option.rice_isfree" [(ngModel)]="model.option.rice_orderfree_quantity" type="number" placeholder='在此输入免费份数'></ion-input>
        <ion-label>如有预订单可免费几份</ion-label>
      </ion-item>
      
  </ng-container>

    <ion-list-header style="font-weight:bold;color:#488aff;font-size: 1.7rem;">
      设备绑定:
    </ion-list-header>
    <ng-container *ngIf="model.mtype=='POS'">
    <ion-item>
      <ion-label fixed >对应POS设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.posid" type="text" placeholder='在此输入POS设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >显餐TV设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.tvid_pro_display" type="text" placeholder='在此输入TV设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >显餐TV设备排序值:</ion-label>
      <ion-input [(ngModel)]="model.option.tvorder_pro_display" type="number" placeholder='在此输入TV排序值'></ion-input>
      <p>数值越大显示越靠右</p>
    </ion-item>


    <ion-item>
      <ion-label fixed >出餐PAD设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.padid_pro_cooked" type="text" placeholder='在此输入出餐PAD设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >出餐TV设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.tvid_pro_take" type="text" placeholder='在此输入出餐TV设备UUID'></ion-input>
    </ion-item>

  </ng-container>


  <ng-container *ngIf="model.mtype=='RICEMECHINE'">
    <ion-item>
      <ion-label fixed >打饭机Pad设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.padid_rice_machine" type="text" placeholder='在此输入打饭机设备UUID'></ion-input>
    </ion-item>

  </ng-container>


  </ion-list>

  

</ion-content>
<ion-footer  >
  <p text-center class="width60">
    <button ion-button full color="secondary" (click)="save();">保存</button>
  </p>
</ion-footer>