<!--
  Generated template for the MachineSetoptionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{model?.officeName}} - {{model?.machineName}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="ionViewDidEnter();" color="dark">
        <ion-icon name="ios-refresh-circle-outline"></ion-icon>刷新
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

    <ng-container *ngIf="model.mtype=='POS'">
    <ion-list-header style="font-weight:bold;color:#488aff;font-size: 1.7rem;">
      窗口类型:
    </ion-list-header>
    <ion-item>
      <ion-toggle [(ngModel)]="model.option.allow_takepre" color="secondary"></ion-toggle>
      <ion-label>允许取预订餐</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="model.option.allow_localorder" color="secondary"></ion-toggle>
      <ion-label>允许现场点餐(单点)</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="model.option.allow_localordermulti" color="secondary"></ion-toggle>
      <ion-label>允许现场点餐(多点)</ion-label>
    </ion-item>
    <ion-item>
      <ion-toggle [(ngModel)]="model.option.allow_takehold" color="secondary"></ion-toggle>
      <ion-label>允许取"留"餐</ion-label>
    </ion-item>
  </ng-container>

    <ion-list-header style="font-weight:bold;color:#488aff;font-size: 1.7rem;">
      设备绑定:
    </ion-list-header>
    <ng-container *ngIf="model.mtype=='POS'">
    <ion-item>
      <ion-label fixed >对应POS设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.posid" type="text" placeholder='在此输入POS设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >显餐TV设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.tvid_pro_display" type="text" placeholder='在此输入TV设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >显餐TV设备排序值:</ion-label>
      <ion-input [(ngModel)]="model.option.tvorder_pro_display" type="number" placeholder='在此输入TV排序值'></ion-input>
      <p>数值越大显示越靠右</p>
    </ion-item>


    <ion-item>
      <ion-label fixed >出餐PAD设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.padid_pro_cooked" type="text" placeholder='在此输入出餐PAD设备UUID'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed >出餐TV设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.tvid_pro_take" type="text" placeholder='在此输入出餐TV设备UUID'></ion-input>
    </ion-item>

  </ng-container>


  <ng-container *ngIf="model.mtype=='RICEMECHINE'">
    <ion-item>
      <ion-label fixed >打饭机Pad设备编码:</ion-label>
      <ion-input [(ngModel)]="model.option.padid_rice_machine" type="text" placeholder='在此输入打饭机设备UUID'></ion-input>
    </ion-item>

    <ion-item>
        <ion-toggle [(ngModel)]="model.option.rice_isfree" color="secondary"></ion-toggle>
        <ion-label>米饭免费(关闭该项则为收费)</ion-label>
      </ion-item>


    <ion-item>
        <ion-input [disabled]="model.option.rice_isfree" [(ngModel)]="model.option.rice_orderfree_quantity" type="number" placeholder='在此输入免费份数'></ion-input>
        <ion-label>如有预订单可免费几份</ion-label>
      </ion-item>
      
  </ng-container>


  </ion-list>

  <p text-center>
    <button ion-button full color="secondary" (click)="save();">保存</button>
  </p>

</ion-content>
